flask==3.1.0
openai
requests==2.31.0
unidecode
numpy==1.24.0
moviepy==1.0.3
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
sentence-transformers
Pillow==9.2.0
torch==2.0.1
torchaudio==2.0.2
clip @ git+https://github.com/openai/CLIP.git