flask==3.1.0
openai
requests==2.31.0
unidecode
numpy==1.24.0
moviepy==1.0.3
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
sentence-transformers
Pillow==9.2.0
# torch e torchaudio já puxamos via wheel CPU
clip @ git+https://github.com/openai/CLIP.git
transformers>=4.29.0,<4.40.0
